<div class="puzzle-board" style="background-image: url({{model.puzzle.imageUrl}});">
    {{game-board puzzle=model.puzzle puzzleGame=model.puzzleGame}}
</div>
<div class="game-options">
    {{!-- shuffle --}}
    {{!-- show numbers --}}
    {{!-- show background --}}
    {{!-- Start! --}}

</div>


{{outlet}}
