@import "reset";
@import "bourbon";
@import "neat";


$bg-color-1: #373444;
$text-color-1: white;

@import "puzzle-menu";
@import "create";
@import "solve";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background: $bg-color-1;
    @include outer-container(12);

}
.title {
    @include span-columns(8);
    @include shift(2);
    text-align: center;
    text-decoration: none;
    color: $text-color-1;
    font-size: 4rem;
    font-family: 'Chewy', cursive;
    font-style: italic;
    font-weight: 400;
    padding: 1rem;
}

