@import "reset";
@import "bourbon";
@import "neat";

$bg-color-0: #40806E;
$bg-color-1: #416580;
$bg-color-2: #AFB7DB;
$bg-color-3: #404350;
$bg-color-test: rgba(50, 50, 100, .5);
$text-color-default: black;
$text-color-1: white;
$text-color-2: yellow;
$phone: 'max-width: 650px';

@import "puzzle-menu";
@import "create";
@import "solve";
@import "solve-mobile";

html {
    // background: url('http://www.icpi.org/sites/default/files/images/45deg-herringbone-pattern_0.jpg');
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: $bg-color-1;
}
a {
    text-decoration: none;
}
.title {
    text-align: center;
    color: $text-color-1;
    font-size: 4rem;
    font-family: 'Chewy', cursive;
    font-style: italic;
    font-weight: 400;
    padding: 1rem;
    background: linear-gradient($bg-color-1, $bg-color-2);
    @media screen and ($phone) {
        font-size: 2rem;
        padding: .5rem;
    }
}

.sliding-title {
    width: 80%;
    margin: 10%;
    text-decoration: none;
}

.title-tile {
    display: inline-block;
    width: 7rem;
    height: 7rem;
    margin:0;
    padding: 0;
    padding-top: 2rem;
    font-family: 'Bevan', cursive;
    font-size: 3rem;
    background: $bg-color-2;
    text-align: center;
    border-radius: 1rem;
    border: .2rem $text-color-default solid;
    color: $text-color-default;
    @media screen and ($phone) {
        width: 2rem;
        height: 2rem;
        padding-top: .5rem;
        font-size: 1rem;
        border-radius: .5rem;
        border: .2rem $text-color-default solid;
    }
}
.slide-row {
    width: 100%;
}
.up {
        animation: moveUp 10s linear .1s infinite;
    }
    @keyframes moveUp{
        0% {
            transform: translateY(7rem);
        }
        20% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(0);
        }

        80% {
            transform: translateY(7rem);
        }

        100% {
            transform: translateY(7rem);
        }
    }

    .down {
        animation: moveDown 10s linear .1s infinite;
    }
    @keyframes moveDown {
        0% {
        transform: translateY(-7rem);
        }
        20% {
        transform: translateY(0);
        }
        50% {
        transform: translateY(0);
        }
        80% {
        transform: translateY(-7rem);
        }
        100% {
        transform: translateY(-7rem);
        }

    }
    .left {
        animation: moveLeft 10s linear .1s infinite;
    }
    @keyframes moveLeft{
        0% {
            transform: translateX(7.2rem);
        }
        20% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(0);
        }
        80% {
            transform: translateX(7.2rem);
        }
        100% {
            transform: translateX(7.2rem);
        }
    }
    .right {
        animation: moveRight 10s linear .1s infinite;
    }
    @keyframes moveRight{
        0% {
            transform: translateX(-7.2rem);
        }
        20% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(0);
        }
        80% {
            transform: translateX(-7.2rem);
        }
        100% {
            transform: translateX(-7.2rem);
        }
    }

@media screen and ($phone) {
    .up {
        animation: moveUp 10s linear .1s infinite;
    }
    @keyframes moveUp{
        0% {
            transform: translateY(2rem);
        }
        20% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(0);
        }

        80% {
            transform: translateY(2rem);
        }

        100% {
            transform: translateY(2rem);
        }
    }

    .down {
        animation: moveDown 10s linear .1s infinite;
    }
    @keyframes moveDown {
        0% {
        transform: translateY(-2rem);
        }
        20% {
        transform: translateY(0);
        }
        50% {
        transform: translateY(0);
        }
        80% {
        transform: translateY(-2rem);
        }
        100% {
        transform: translateY(-2rem);
        }

    }
    .left {
        animation: moveLeft 10s linear .1s infinite;
    }
    @keyframes moveLeft{
        0% {
            transform: translateX(2.2rem);
        }
        20% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(0);
        }
        80% {
            transform: translateX(2.2rem);
        }
        100% {
            transform: translateX(2.2rem);
        }
    }
    .right {
        animation: moveRight 10s linear .1s infinite;
    }
    @keyframes moveRight{
        0% {
            transform: translateX(-2.2rem);
        }
        20% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(0);
        }
        80% {
            transform: translateX(-2.2rem);
        }
        100% {
            transform: translateX(-2.2rem);
        }
    }
}
