.create-form {
    @include span-columns(6);
    @include shift(3);
    color: $text-color-1;
}
h4 {
    padding: .5rem 0;
    font-size: 1.4rem;
}
input[type='text'] {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
}
.directions {
    margin: .5rem 0;

}
