
.puzzle-menu {
    margin-left: calc(50% - 300px);

    @media screen and ($phone) {
    margin-left: calc(50% - 150px);
    }
}

.puzzle-menu select {
    background: $bg-color-3;
    color: $text-color-1;
    border: none;
}

