
.puzzle-board {
    margin-left: calc(50% - 300px);
    width: 600px;
    background-size: 600px auto;
    background-repeat: no-repeat;
}
.fake-nav {
    background: $bg-color-3;
    width: 100%;
    position: absolute;
    top: 5rem;
    height: 1.5rem;

}
.stopwatch {
    color: $text-color-1;
    background: $bg-color-3;
    border-radius: 5px;
    font-family: arial;
    font-size: .9rem;
    padding: .1rem;
    display: inline-block;
    position: absolute;
    top: 5rem;
    right: calc(50% - 10px);
}
.new-game {
    display: inline-block;
    position: absolute;
    top: 5rem;
    right: calc(50% - 300px);
    background: $bg-color-3;
    border: none;
    border-radius: 5px;
    color: $text-color-1;
}

// .game-options {
//     margin-top: -1rem;
//     margin-left: calc(50% - 300px);
// }

table {
    background: rgba(0,0,0,0.7);
    width: 600px;
    height: 600px;
    border:1px solid black;
    margin-top: 2rem;
}

td {
    opacity: 1;
    border:1px solid black;
    text-align: center;
    vertical-align: middle;
    color: $text-color-1;
}
.directions {
    width: 600px;
    margin-left: calc(50% - 300px);
    margin-top: 1.5rem;
    font-family: arial;
    color: $text-color-1;
    padding: 1rem;
    background: $bg-color-3;
    border-radius: .5rem;
    border: 2px solid $bg-color-2;

}

.piece {
    width: 200px;
    height: 200px;
    background-size: 600px 600px;
}

.piece-0 {
    opacity: 0;
}
.piece-1 {
    background-position: 0 0;
    overflow: hidden;
}
.piece-2 {
    background-position: -200px 0;
    overflow: hidden;
}
.piece-3 {
    background-position: -400px 0;
    overflow: hidden;
}
.piece-4 {
    background-position: 0 -200px;
    overflow: hidden;
}

.piece-5 {
    background-position: -200px -200px;
    overflow: hidden;
}
.piece-6 {
    background-position: -400px -200px;
    overflow: hidden;
}
.piece-7 {
    background-position: 0 -400px;
    overflow: hidden;
}

.piece-8 {
    background-position: -200px -400px;
    overflow: hidden;
}

