<div class="create-form">
    <p class="directions">Give your puzzle a title and choose an image source.  Images that are at least 600 pixels per side and square are recommended.  </p>
    <form {{action 'save' title url on='submit'}}>
        <label for="title">Title</label>
        {{input type="text" value=title}}

        <label for="file">Image URL</label>
        {{input type="text" value=url}}
        <button>Submit</button>
    </form>
</div>
{{outlet}}
