
<ul class="puzzle-menu">
    <li>{{#link-to 'home.create'}}+ Create new puzzle{{/link-to}}</li>
    {{#each model as |puzzle|}}
    <li>
        {{#link-to 'home.solve' puzzle}}
            {{puzzle.title}}
        {{/link-to}}
    </li>
    {{/each}}
</ul>

{{outlet}}
