{{#link-to 'home'}}
    <div class="sliding-title">
        <div class="slide-row">
                <p class="title-tile left">S</p>
                <p class="title-tile up">L</p>
                <p class="title-tile up">I</p>
                <p class="title-tile right">D</p>
                <p class="title-tile left">E</p>
                <p class="title-tile up">-</p>
            </div>
            <div class="slide-row">
                <p class="title-tile down">P</p>
                <p class="title-tile right">U</p>
                <p class="title-tile left">Z</p>
                <p class="title-tile down">Z</p>
                <p class="title-tile down">L</p>
                <p class="title-tile right">E</p>
            </div>
    </div>
{{/link-to}}

{{!-- {{outlet}} --}}
