{{#link-to 'home'}}<h1 class="title">SLIDE PUZZLE</h1>{{/link-to}}

<div class="sliding-title">
    <div class="slide-row">
            <p class="title-tile" id="S">S</p>
            <p class="title-tile" id="L1">L</p>
            <p class="title-tile" id="I">I</p>
            <p class="title-tile" id="D">D</p>
            <p class="title-tile" id="E1">E</p>
            <p class="title-tile" id="-">-</p>
        </div>
        <div class="slide-row">
            <p class="title-tile" id="P">P</p>
            <p class="title-tile" id="U">U</p>
            <p class="title-tile" id="Z1">Z</p>
            <p class="title-tile" id="Z2">Z</p>
            <p class="title-tile" id="L2">L</p>
            <p class="title-tile" id="E2">E</p>
        </div>
</div>


{{outlet}}
